html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
body {
/*line-height:1px;*/
font-size: 16px;
font-family: "robotolight", sans serif;
background-color:#fff;
color: #b7b7b7;

}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

blockquote, q {
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;

}
/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}
.content_clear{
	clear: both;
}

@font-face {
    font-family: 'robotobold';
    src: url('font/roboto_bold/Roboto-Bold-webfont.eot');
    src: url('font/roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('font/roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('font/roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('font/roboto_light/Roboto-Light-webfont.eot');
    src: url('font/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_light/Roboto-Light-webfont.woff') format('woff'),
         url('font/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
         url('font/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('font/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('font/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('font/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
