html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
body {
/*line-height:1px;*/
font-size: 16px;
font-family: "robotolight", sans serif;
background-color:#fff;
color: #b7b7b7;
background: url(images/slider1.jpg) #fff no-repeat top;

}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

blockquote, q {
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;

}
/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}
.content_clear{
	clear: both;
}

@font-face {
    font-family: 'robotobold';
    src: url('font/roboto_bold/Roboto-Bold-webfont.eot');
    src: url('font/roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('font/roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('font/roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('font/roboto_light/Roboto-Light-webfont.eot');
    src: url('font/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_light/Roboto-Light-webfont.woff') format('woff'),
         url('font/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
         url('font/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('font/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('font/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('font/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.wrapper{

	width: 980px;
	margin: 0px auto;
}

header{

	padding-top: 50px;
}

#logo{

	float: left;
	background: url(images/logo.png) no-repeat top;
	height: 20px;
	width: 121px;
	display: block;
}

.headerNavWrap{

	float: right;
	width: 515px;
}

.navigation{

	float: left;
}
.navigation ul{

	list-style: none;
}

.navigation ul li{

	float: left;
	margin-left: 45px;
}

.social-icons ul li{

	float: left;
	margin-left: 20px;
}

.navigation ul li a{

	color: #fff;
	text-decoration: none;
	font-family: "robotoregular", sans serif;
	font-size: 14px;
}

.navigation ul li a:hover{

	color: #e92121;
}

.social-icons{

	float: right;
}

.social-icons ul {

	list-style: none;
}
 

.fb-header a{

 	background: url(images/fb_logo.png) no-repeat center;
 	display: block;
 	width: 20px;
 	height: 20px;
}

.tw-header a{

	background: url(images/twitter_logo.png) no-repeat center;
	display: block;
 	width: 20px;
 	height: 20px;

}
.fb-header a:hover, .tw-header a:hover{

	background-color:#e92121; 
}

.slider_wrapper{

	height: 428px;
	margin-top: 300px;
	color: #fff;
}

.slider_title{

	font-size: 24px;
	width: 190px;
}

.slider_heading{

	font-family: "robotobold", sans serif;
	font-size: 60px;
	line-height: 60px;
	width: 584px;
}


.slider_buttons{

	width: 310px;
	margin-top: 30px;
	
}
.slider_buttons ul{

	list-style: none;
	height: 50px;
}

.slider_buttons ul li {

	float: left;
	margin-right: 20px;
	display: block;

}

#learn_more a{

	padding: 10px 10px;
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
}

#choose_decoration a {

	padding:10px 10px;
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;

}

#learn_more a:hover{

	background-color: #e92121;
	border: 2px solid #e92121;
	color: #fff;
}

#choose_decoration a:hover{

	background-color: #e92121;
	border: 2px solid #e92121;
	color: #fff;
}
.our_history_heading{

	width: 480px;
	float: left;
}
.our_history_heading h2{

	font-size: 48px;
	font-family: "robotobold", sans serif;
	color: #464646;
	margin: 180px auto;
	display: block;
	line-height: 60px;

}

.our_history_para{

	margin-left: 20px;
	width: 480px;
	float: left;
	margin: 80px auto;
	line-height: 30px;
}

#line{

	background: url(images/line.png) no-repeat center top;
	height: 2px;
}

.history_section{

	border-bottom: 1px solid #999999;
}

.howitworks{


}

.howitworks h2{

	width: 290px;
	font-family: "robotobold", sans serif;
	font-size: 30px;
	line-height: 40px;
	color: #464646;
	margin: 0px auto 30px;
	padding-top: 50px;

}

.zigzag{

	background: url(images/zigzag.png) center top no-repeat;
	display: block;
	width: 70px;
	height: 12px;
	margin: 0px auto
}

.youcanask{

	width: 442px;
	font-size: 18px;
	line-height: 30px;
	margin: 27px auto;
	text-align: center;

}

.howitworks ul, .tagline ul{

	list-style: none;
	margin-top: 105px;

}

.howitworks ul li, .tagline ul li{

	width: 310px;
	height: 238px;
	float: left;
	margin-left: 16px;
	margin-top: 15px;

}	

.piece_of_jewelry{

	background: url(images/icons/jewelery-icon.png) left top no-repeat;
	display: block;
	height: 100px;
	width: 100px;
	

}

.make_decoration{

	background: url(images/icons/decoration-icon.png) left top no-repeat;
	display: block;


}
.payment_methods{

	background: url(images/icons/doller-icon.png) left top no-repeat;
	display: block;
	
}
.above_decoration{

	background: url(images/icons/calender.png) left top no-repeat;
	display: block;
	
}
.successfully_passed{

	background: url(images/icons/thumb-icon.png) left top no-repeat;
	display: block;
	
}
.purchased_item{

	background: url(images/icons/heart-icon.png) left top no-repeat;
	display: block;

}



.piece_of_jewelry h3, .make_decoration h3, .payment_methods h3, .above_decoration h3, .successfully_passed h3, .purchased_item h3{

	margin-top: 90px;
	font-family: "robotobold", sans serif;
	font-size: 18px;
	line-height: 24px;
	color: #515151;

}

.piece_of_jewelry p, .make_decoration p, .payment_methods p, .above_decoration p, .successfully_passed p, .purchased_item p{

	margin-top: 15px;
	font-size: 16px;
	line-height: 24px;
}

.product_slider{

	background-color: #faf9f9;
	height: 620px;
}

.product{

	float: left;
	width: 420px;
	margin: 210px auto;

}

.product img{

	text-align: center;
	height: 200px;
	width: 200px;
	margin: 0px auto;
	display: block;


}

.product_details{

	float: left;
	width: 530px;
	margin-top: 210px;
	margin-left: 30px;
}

.product_details h3{

	width: 119px;
	font-family: "robotobold", sans serif;
	font-size: 30px;
	line-height: 40px;
	color: #464646;
}

#zigzag-1{

	background: url(images/zigzag.png) center top no-repeat;
	display: block;
	width: 70px;
	height: 12px;
	margin: 20px 0px 20px 20px;

}

.product_details p{

	width: 500px;
}

.product_details a{

	float: left;
	padding:10px 10px;
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	background-color:#b7b7b7;
	margin-top: 15px;
}

.product_details a:hover{

	background-color: #e92121;
	border: 2px solid #e92121;
	color: #fff;
}


.middle_gallery{

	height: 1190px;
}

.why_heading{

	width: 350px;
	height: 310px;
	float: left;


}
.why_heading h2{

	width: 168px;
	font-family: "robotobold", sans serif;
	font-size: 48px;
	line-height: 60px;
	color: #464646;
	margin: 80px 0px 0px 0px;
	

}

.why_heading_details{

	margin-left: 10px;
	width: 570px;
	height: 310px;
	float: left;
}
.why_heading_details ul{

	margin-top: 35px;
	list-style: none;
}

.why_heading_details ul li{

	float: left;
	width: 275px;
	margin: 5px 0px 20px 10px;
}

.why_heading_details h3{
	
	font-family: "robotobold", sans serif;
	font-size: 18px;
	line-height: 24px;
	color: #515151;

}

.why_heading_details p{
	
	margin-top: 15px;
	font-size: 16px;
	line-height: 24px;

}

.ourjewelery_gallery, .photo_blog_images{

	height: 470px;
	margin-top: 60px;
	
}

.ourjewelery_gallery ul, .photo_blog_images ul{

	list-style: none;
}

.ourjewelery_gallery ul li{


	float: left;
	width: 245px;
	height: 235px;	
}

.ourjewelery_gallery ul li h2,.photo_blog_images ul li h2{

	font-family: "robotobold", sans serif;
	font-size: 48px;
	line-height: 60px;
	color: #464646;
	margin-top: 50px;
	margin-left: 28px;

}
#zigzag-2{

	background: url(images/zigzag.png) center top no-repeat;
	display: block;
	width: 70px;
	height: 12px;
	margin: 20px 0px 20px 28px;

}

.ourjewelery_details, .photo_blog_details{

	
	text-align: justify;
	margin-top: 60px;
	font-size: 16px;
	line-height: 30px;
	height: 210px;
	-webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;
}

.commentsfromcust{

	background-color: #faf9f9;
	
}

.tagline h2{
	
	width: 437px;
	font-family: "robotobold", sans serif;
	font-size: 30px;
	line-height: 40px;
	color: #464646;
	margin: 0px auto 30px;
	padding-top: 50px;
}

.comment_first{

	background: url(images/icons/1.png) no-repeat;
	display: block;
	height: 38px;
	width: 38px;
	float: left;

}

.comment_second{

	background: url(images/icons/1.png) left top no-repeat;
	display: block;


}
.comment_third{

	background: url(images/icons/1.png) left top no-repeat;
	display: block;
	
}
.comment_fourth{

	background: url(images/icons/1.png) left top no-repeat;
	display: block;
	
}
.comment_fifth{

	background: url(images/icons/1.png) left top no-repeat;
	display: block;
	
}
.comment_sixth{

	background: url(images/icons/1.png) left top no-repeat;
	display: block;

}

 .comment_first h3, .comment_second h3, .comment_third h3, .comment_fourth h3, .comment_fifth h3, .comment_sixth h3{

	margin-top: 8px;
	font-family: "robotobold", sans serif;
	font-size: 18px;
	line-height: 24px;
	color: #515151;
	float: left;
	margin-left: 50px;
	height: 31px;
}

 .comment_first p, .comment_second p, .comment_third p, .comment_fourth p, .comment_fifth p, .comment_sixth p{

	margin-top: 15px;
	font-size: 16px;
	line-height: 24px;
	float: left;
}
#name{

	
	width: 120px;
	height: 20px;
	display: block;
	font-size: 14px;
	line-height: 24px;
	margin-left: 52px;

}

.photo_blog{


}

.photo_blog_images ul li{


	float: left;
	width: 245px;
	height: 235px;	

}

#photo_blog_images_title{


	width: 490px;
	height: 235px;


}

#photo_blog_images_title h2{

	margin-left: 0px;
}

#zigzag-4{

	background: url(images/zigzag.png) center top no-repeat;
	display: block;
	width: 70px;
	height: 12px;
	margin: 20px 0px 20px 0px;
}


footer{

	background-color: #141414;
	height: 335px;
}
.footer_left{

	width: 470px;
	float: left;
}

#footer_company_logo{

	background: url(images/logo.png) no-repeat ;
	height:18px;
	width: 120px;
	display: block; 
	margin-top: 30px;

}

.footer_right{

	width: 470px;
	float: right;
}

.footer_links{

}

.footer_links ul{

	list-style: 
}